<form action="<%= restaurant_comments_path(restaurant) %>" method="post">
  <input type="hidden" name="authenticity_token">

<textarea name="comment[content]" id=" rows="8" cols="40"></textarea>

  <input type="submit" value="Submit">
  </form>
