<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Vote</th>

      <th colspan="3"></th>
    </tr>
  </thead>

<% @user.votes.each do |vote| %>
   <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= vote.restaurant.name %></td>
    <td><%= vote.vote_type %></td>
    <td><%= link_to 'Show', vote.restaurant %></td>
  </tr>
<% end %>
</table>
