
<div class="container"><div class="showHistory">
  <h1>User Summary</h1>
  <div class="col-md">
<div class="row">

<h2>Votes:</h2>
<% if @user.votes.count > 0 then %>
<%= render partial: 'summary/votes' %>
<% else %>
<br>
You have no votes.
<% end %>
</div>
<br><br><br>
<div class="row">

  <h2>Favorites:</h2>
<% if @user.favorites.count > 0 then %>
<%= render partial: 'summary/favorites' %>
<% else %>
<br>
You have no favorites.
<% end %>
</div>
<br><br><br>
<div class="row">

    <br>
    <br>
<h2>Comments:</h2>
<% if @user.comments.count > 0 then %>
<%= render partial: 'summary/comments' %>
<% else %>
<br>
You have made no comments.
<% end %>
</div>
</div>
<br><br>
<%= link_to 'Home', restaurants_path %>
</div>
</div>
