
<div class="container">
  <%= render "header" %>
  <div class="row justify-content-center">
    <h1>Search</h1>
    <div class="searchBoxes">
    <div class="col">

    Name:
    <form class="form" action="/searchName">
    <input class="form-control-inline" name="n"  type="text" placeholder="Search Name" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>

    </form>
    </div>
    <br>
    <div class="row">
    <div class="col">

    Location:
    <form class="form" action="/searchLocation">
    <input class="form-control-inline" name="s" type="text" placeholder="Search Location" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
    </div>
  <%= link_to 'Add Restaurant', new_restaurant_path %>
    </div>

  <br>
</div>
<div class="row">

<% if @restaurants.present? %>
<%= render "searchResults" %>
<% end %>

<p></p>
</div>
</div>
