<p id="notice"><%= notice %></p>



  <tbody>
    <div>
    Name:
    <form class="form" action="/searchName">
    <input class="form-control" name="q" type="text" placeholder="Search Name" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </tbody>
</table>

<br>
<% if @restaurants.present? %>
<%= render "searchResults" %>
<% end %>


<p></p>


<%= link_to 'New Restaurant', new_restaurant_path %>
