<p id="notice"><%= notice %></p>



    <div>
    Name:
    <form class="form" action="/searchName">
    <input class="form-control" name="n" type="text" placeholder="Search Name" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
    <div>
    State:
    <form class="form" action="/searchState">
    <input class="form-control" name="s" type="text" placeholder="Search State" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>

<br>
<% if @restaurants.present? %>
<%= render "searchResults" %>
<% end %>


<p></p>


<%= link_to 'New Restaurant', new_restaurant_path %>
