// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a.btn{
  color: #FFFFFF;
  font-weight: bold;
  margin: 5px;

}

a.btn:visited{
  color: #FFFFFF;
}

h1{
  text-align: center;
  padding: .5em;
}

.header{
  padding: 2em;
}
.showPercent{
  font-family: "Georgia", Times, serif;
  text-align: center;
  font-weight: bold;
  background-color: #28699A;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 1em;
  display: block;
}

.showName{
  font-family: "Georgia", Times, serif;
  text-align: center;
  font-weight: bold;
}
