// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a.btn{
  color: #FFFFFF;
  font-weight: bold;
  margin: 5px;

}

a.btn:visited{
  color: #FFFFFF;
}
